/*===================================
=            Page Layout            =
===================================*/

#scrolly-island-interactive {
  position: relative;
}

#scroll {
  position: relative;

  @media only screen and (max-width: 48em) and (orientation: landscape) {
    display: none;
  }
}

.phone-landscape-disclaimer {
  display: none;

  @media only screen and (max-width: 48em) and (orientation: landscape) {
    display: block;
    font-weight: bold;
    padding: 1rem;
  }
}
